<!DOCTYPE html>
<html>
<head>

<title>Pizza Coffee Bagels</title>
	<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Raleway:400,800" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>