<% include partials/header %>

<h1>Pizza Coffee Bagels</h1>

<div class="container pictures">
	<div class="row">
	<div class="col-md-4 col-sm-4 inlinePics" id="pizzaPic">
		<img src="images/pizza.svg">
	</div>
	<div class="col-md-4 col-sm-4 inlinePics" id="coffeePic">
		<img src="images/coffee-cup.svg">
	</div>
	<div class="col-md-4 col-sm-4 inlinePics" id="bagelPic">
		<img src="images/jewish-bagels.svg">
	</div>
	</div>
	

	<div class="row">
	<form action="/pizza" id = "pizzaForm" method="GET">
		<p>Enter your address to find the top three spots!<p>
		<input type="text" id="address" name="address"><br>
		<input type="submit" name="Pizza Time" value="	Pizza Time">
	</form>
	</div>


	<div class="row form-group">
	<form action="/coffee" id = "coffeeForm" method="GET">
		<p>Enter your address to find the top three spots!<p>
		<input type="text" id="address" name="address"><br>
		<input type="submit" name="Coffee Time" value="Coffee Time">
	</form>
	</div>

	<div class="row form-group">
	<form action="/bagels" id = "bagelForm" method="GET">
		<p>Enter your address to find the top three spots!<p>
		<input type="text" id="address" name="address"><br>
		<input type="submit" name="Bagel Time" value="Bagel Time">
	</form>
	</div>


<script type="text/javascript" src="public/selector.js"></script>

<% include partials/footer %>