<% include partials/header %>


<h1>Pizza Coffee Bagels</h1>

<div class="container pictures">
	<div class="row">
	<div class="col-md-4 col-sm-4 inlinePics" id="pizzaPic">
		<img src="images/pizza.svg">
	</div>
	<div class="col-md-4 col-sm-4 inlinePics" id="coffeePic">
		<img src="images/coffee-cup.svg">
	</div>
	<div class="col-md-4 col-sm-4 inlinePics" id="bagelPic">
		<img src="images/bagel_v5.png">
	</div>
	</div>

	<div class="row">
	<form action="/pizza" id = "pizzaForm" method="GET" class="form-style inlinePics">
		<p class="form-text">Enter your address to find the top three spots!<p>
		<input type="text" id="address" name="address">
		<button type="submit">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>	
	</form>
	</div>


	<div class="row">
	<form action="/coffee" id ="coffeeForm" class="form-style inlinePics" method="GET">
		<p class="form-text">Enter your address to find the top three spots!<p>
		<input type="text" id="address" name="address">
		<button type="submit">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>	
	</form>
	</div>

	<div class="row">
	<form action="/bagels" id ="bagelForm" class="form-style inlinePics" method="GET">
		<p class="form-text">Enter your address to find the top three spots!<p>
		<input type="text" id="address" name="address">
		<button type="submit">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>	
	</form>
	</div>
	<br>
	<a href="" id="backLink">Go Back</a>


<script type="text/javascript" src="public/selector.js"></script>
<% include partials/footer %>