
body {
	background-color: #d4ede2;
	background-image:
    	linear-gradient(
     	 	to right, 
      		#d4ede2, #96d2b7
    	);
}

h1 {
	font-size: 85px;
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #b87333;
}

img {
	max-width: auto;
	max-height: auto;
	height: 250px;
	width: 250px;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

.result-text {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 3px #b87333;
}

.result-img {
	border: 1px solid #b87333;
	border-radius: 25%;
}

.pictures {
	text-align: center;
	margin-top: 75px;
}

.inlinePics {
	display: inline-block;
}

 