h1 {
	font-size: 8rem;
	text-align: center;
	font-family: 'Bungee Inline', cursive;
	text-transform: uppercase;
}

img {
	max-width: auto;
	max-height: auto;
	height: 15rem;
	width: 15rem;
}


input {
  width : 15rem;
}

.tagline {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-weight: bolder;
	font-size: 1.2rem;
}

 